<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">MI BLOG DE VIAJES VIAJES</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/new']">Nuevo Post</a>
        </li>
      </ul>
      <div class="ms-auto me-5">
        <select class="form-select px-4 py-1" name="filterByCategory" id="filterByCategory" (change)="getFilterCategory($event)">
          <option  value="">Destino</option>
          <option *ngFor="let category of arrCategories" [value]="category.id">{{category.title}}</option>
        </select>
      </div>
    </div>
  </div>
</nav>

